<main class="contenedor">
    <div class="holland-content">
        <h2>Test Holland</h2>

        <div class="text-holland">
            <p>
                El Test de Holland, también conocido como el Test de los Intereses Profesionales de Holland, 
                es una herramienta de evaluación vocacional basada en el modelo tipológico desarrollado por 
                el psicólogo estadounidense John Lewis Holland. Este test se basa en la idea de que existen 
                seis tipos de personalidad bien diferenciadas, cada una de las cuales se vincula mejor con 
                una serie de profesiones determinadas.
            </p>
        </div>

        <div class="imagen">
            <img class="imagen-principal" src="/assets/img/page test/holland_page.png" alt="">
        </div>

        <div class="text-holland">
            <p>
                A la hora de elegir a qué nos dedicaremos en el futuro, es normal sentirse nervioso o inseguro, 
                ya que a veces es difícil saber si estamos hechos para ese trabajo. Para ayudarte durante este 
                proceso de selección vocacional se han creado los test vocacionales. Lo ideal es poseer la mayor 
                cantidad de información posible sobre nosotros y las diferentes opciones universitarias, para que 
                nuestra decisión sea la más acertada. Si vienes de nuestra app y ya realizaste el test de Holland 
                puedes conocer con detalle las características de tu personalidad y las profesiones asociadas. 
                Si todavía no completaste el test, te invitamos a realizarlo descargando nuestra aplicación haciendo 
                click abajo.
            </p>
        </div>

        <p class="pregunta">
            ¿En que consiste el Test de Holland?
        </p>

        <div class="text-holland">
            <p>
                El test consta de preguntas relacionadas a tus preferencias, que deberás responder señalando 
                las opciones que reflejen tu personalidad. Al final de las preguntas, encontrarás los 6 tipos 
                de personalidad y los porcentajes de afinidad a cada una. Luego de ver el resultado, podrás 
                comparar las carreras compatibles con la personalidad que más predomina en tí (las 3 personalidades 
                con los puntajes más altos).
            </p>
        </div>

        <div class="imagen">
            <img src="/assets/img/page test/hexagono-holland.png" alt="">
        </div>

        <p class="pregunta">
            Tipos de personalidad
        </p>

        <div class="text-holland">            
            <p> 
                <a>Realista: </a>
                En este tipo se integran a las personas que les gusta trabajar con sus propias manos, manipular 
                objetos, tienen habilidades mecánicas y generalmente no prefieren la interacción con los demás. También 
                valoran el dinero, el estatus y el poder. Algunas ocupaciones de este tipo de personalidad son los 
                ingenieros, arquitectos, agricultores, veterinarios, gastronómicos, médicos, entre otros.
            </p>
        </div>

        <br>

        <div class="text-holland">            
            <p>
                <a>Investigador: </a>
                Aquí se agrupan las personas que tienen habilidades analíticas, manejan ideas abstractas, y tienen 
                valores no convencionales. Su mayor interés es la lógica y lo científico. Analizan, evalúan y atienden 
                problemas, y les gusta mucho aprender y entender los distintos eventos, junto a sus causas. En las 
                ocupaciones de este tipo se encuentran los médicos, psicólogos, científicos y matemáticos, entre otros.
            </p>
        </div>

        <br>

        <div class="text-holland">            
            <p>
                <a>Artística: </a>
                En este tipo de personalidad se incluyen las personas que poseen habilidades artísticas, son independientes, 
                originales y poco estructurados. Usan el arte como manera de expresión, son creativos y les gusta la 
                independencia. Generalmente, tienen excelentes destrezas de redacción. Los músicos, actores, periodistas, 
                escritores, diseñadores gráficos y de interiores están ubicados en este tipo de personalidad y ambiente ocupacional.
            </p>
        </div>

        <br>
        
        <div class="text-holland">            
            <p>
                <a>Social: </a>
                Las personas que disfrutan ayudar a los demás, son cooperadores, sensibles y tienen excelentes destrezas 
                interpersonales están ubicadas en este tipo. Esto incluye a médicos, docentes, psicólogos, trabajadores sociales, 
                entre otros.
            </p>
        </div>

        <br>
        
        <div class="text-holland">            
            <p>
                <a>Emprendedor: </a>
                En este tipo de personalidad se ubican las personas que le gustan los riesgos, son agresivos al momento de 
                alcanzar las metas que se establecen. Valoran el poder y tienen habilidades para convencer a los demás ante su 
                punto de vista. Son extrovertidos, tienen liderazgo y buenas relaciones interpersonales. Los banqueros, vendedores, 
                ingenieros, abogados, administradores, licenciados en ciencias políticas son algunas de las profesiones que se 
                incluyen en este grupo.
            </p>
        </div>

        <br>
        
        <div class="text-holland">            
            <p>
                <a>Convencional: </a>
                Son personas organizadas, detallistas, metódicas y se caracterizan por sus habilidades organizativas. Son buenos 
                en matemáticas, disfrutan el orden y trabajar sin tener mucha interacción con los demás. Aquí se encuentran secretarias(os), 
                contables, oficinistas, administradores, licenciados en logística y gestión entre otros.
            </p>
        </div>

        <br>

        <div class="text-holland">
            <p>
                Al identificar cuál de estas personalidades predomina en ti, entonces será más fácil darte cuenta de qué carreras 
                se ajustan mejor a tu personalidad. Aunque el test es efectivo, recuerda que es sólo una forma de que te sientas más 
                seguro de la carrera que has elegido, y que tengas más confianza en tus propias habilidades.
            </p>
        </div>
    </div>

</main>

