<section class="blog container">
    <h2>Blogs Orientacion Vocacional</h2>
    <p>
        Los test vocacionales son herramientas diseñadas para ayudar a las personas a explorar y comprender sus intereses, habilidades y preferencias en 
        relación con posibles carreras y campos profesionales. Estos test suelen incluir una serie de preguntas que abarcan aspectos psicológicos, aptitudes 
        y preferencias personales. 
    </p>

    <div class="blog-content">
        <div class="blog-1">
            <img src="assets/img/home/blog2.jpg" alt="">
            <h3>Blog 1</h3>
            <p>
                La verdadera vocación es aquella que te hace levantarte por la mañana con un entusiasmo y pasión 
                que no puedes esperar para compartir con el mundo. Descubrir esta pasión es el primer paso hacia 
                una vida profesional plena.
            </p>
        </div>

        <div class="blog-1">
            <img src="assets/img/home/blog3.jpg" alt="">
            <h3>Blog 2</h3>
            <p>
                La orientación vocacional no se trata solo de elegir una carrera, sino de descubrir cómo puedes 
                contribuir al mundo de una manera que te llene de alegría y satisfacción. Es un viaje de 
                autodescubrimiento que te lleva a encontrar tu propósito y significado en el trabajo que realizas.
            </p>
        </div>

        <div class="blog-1">
            <img src="assets/img/home/blog4.jpg" alt="">
            <h3>Blog 3</h3>
            <p>
                Cada uno de nosotros tiene un don único, una habilidad especial que nos diferencia. La orientación 
                vocacional nos ayuda a reconocer esta singularidad y a canalizarla hacia una carrera que nos permita 
                brillar y contribuir de manera significativa.
            </p>
        </div>
    </div>
</section>