#form-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    #row-container {
        width: 20%;
        #form-field-container {
            width: 90%;
        }
    }
}

.enabled-button {
    color: white;
    background-color: #082A58;
    font-weight: bold;
    font-size: 1rem;
}

.disabled-button {
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    cursor: not-allowed;
}