@use "@angular/material" as mat;

@include mat.core();

$light-primary-palette: (
  50: #e4eaf4,
  100: #bbcbe3,
  200: #8da8d0,
  300: #5f85bd,
  400: #3d6aaf,
  500: #1b50a1,
  600: #184999,
  700: #14408f,
  800: #103785,
  900: #082774,
  A100: #a4b9ff,
  A200: #7192ff,
  A400: #3e6bff,
  A700: #2557ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$light-secondary-palette: (
  50: #f1f2f4,
  100: #dcdee4,
  200: #c4c8d2,
  300: #acb1c0,
  400: #9ba1b3,
  500: #8990a5,
  600: #81889d,
  700: #767d93,
  800: #6c738a,
  900: #596179,
  A100: #e5ebff,
  A200: #b2c5fe,
  A400: #7f9eff,
  A700: #658aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$light-tertiary-palette: (
  50: #e3e9f1,
  100: #b9c8dd,
  200: #8ba4c6,
  300: #5c7faf,
  400: #39639e,
  500: #16488d,
  600: #134185,
  700: #10387a,
  800: #0c3070,
  900: #06215d,
  A100: #8fabff,
  A200: #5c84ff,
  A400: #295eff,
  A700: #0f4bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$light-neutral-palette: (
  50: #f2f2f2,
  100: #dededf,
  200: #c8c8ca,
  300: #b2b1b4,
  400: #a2a1a4,
  500: #919094,
  600: #89888c,
  700: #7e7d81,
  800: #747377,
  900: #626165,
  A100: #e5ddfc,
  A200: #c1aef7,
  A400: #9674ff,
  A700: #835aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($light-primary-palette, 500),
      accent: mat.define-palette($light-secondary-palette, 900),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($light-theme);
