mat-toolbar {
  gap: 0.7em;
}

.active-button {
  background-color: #082a58;
  color: white;
  font-weight: bold;
  font-size: 0.7em;
}

#username {
  font-size: 0.75em;
}

#user-options-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.7em;
}