$background-color-toolbar: #000000;
$font-color-toolbar: #ffffff;

#toolbar-spacer {
    flex: 1 1 auto;
}

.mat-toolbar-theme {
    background-color: $background-color-toolbar;
    color: $font-color-toolbar;
}