<main class="contenedor">
    <div class="chaside-content">
        <h2>Test chaside</h2>

        <div class="text-chaside">
            <p>
                El Test Chaside es un cuestionario diseñado para identificar los intereses y aptitudes de 
                una persona en relación con la elección de una vocación o carrera profesional. Este test 
                consta de un grupo de preguntas enfocadas en identificar los intereses y aptitudes vocacionales, 
                lo que incluye la inclinación natural de una persona hacia ciertas actividades, objetos o 
                individuos, así como la interacción entre las características heredadas y el entorno que 
                rodea a la persona. 
            </p>
        </div>

        <div class="imagen">
            <img class="imagen-principal" src="/assets/img/page test/chaside_page.png" alt="">
        </div>

        <div class="text-chaside">
            <p>
                A la hora de elegir a qué nos dedicaremos en el futuro, es normal sentirse nervioso o inseguro, 
                ya que a veces es difícil saber si estamos hechos para ese trabajo. Para ayudarte durante este 
                proceso de selección vocacional se han creado los test vocacionales. Lo ideal es poseer la mayor 
                cantidad de información posible sobre nosotros y las diferentes opciones universitarias, para que 
                nuestra decisión sea la más acertada. Si vienes de nuestra app y ya realizaste el test de Chaside 
                puedes conocer con detalle las características de tu personalidad y las profesiones asociadas. 
                Si todavía no completaste el test, te invitamos a realizarlo descargando nuestra aplicación haciendo 
                click abajo.
            </p>
        </div>

        <p class="pregunta">
            ¿Qué son los intereses y aptitudes?
        </p>

        <div class="text-chaside">
            <p>
                El test Chaside, es un cuestionario con 98 preguntas enfocadas a identificar tus intereses y aptitudes 
                para la selección de una vocación. Los intereses son inclinaciones o disposiciones naturales que poseen 
                las personas hacia una o varias actividades, objetos o individuos. Puedes tener muchos o varios intereses 
                y, gracias a ellos, el trabajo o las actividades que desarrollas te resultan placenteras. Los intereses 
                obligan a la persona a buscar activamente caminos y medios para satisfacer sus “ansias de conocimiento y 
                saber”. Existen diversas ocupaciones y nuestras preferencias pueden estar dirigidas hacia una o varias de 
                ellas. Por lo general todos poseemos un perfil vocacional o combinación de intereses.
            </p>
        </div>

        <div class="imagen">
            <img src="/assets/img/page test/partes-chaside.png" alt="">
        </div>

        <p class="pregunta">
            ¿Qué son las áreas ocupacionales?
        </p>

        <div class="text-chaside">            
            <p> 
                Las áreas ocupacionales son conjuntos de carreras, que comparten el ámbito donde se lleva a cabo el 
                trabajo o poseen los mismos principios científicos o técnicos. Estas áreas ocupacionales agrupan distintos 
                tipos de actividades del mundo del trabajo. Por ejemplo, las ocupaciones relacionadas con las ciencias 
                agrarias o naturales.
                De las siglas que conforman el nombre del Test Chaside derivan las áreas ocupacionales en las cuales te 
                puedes interesar:
            </p>
        </div>
        
        <br>

        <div class="text-chaside">            
            <p> 
                <a>-C: </a>
                (Ciencias Exactas, Administrativas y Contables)
            </p>
        </div>

        <br>

        <div class="text-chaside">            
            <p>
                <a>-H: </a>
                (Humanística y Ciencias Sociales)
            </p>
        </div>

        <br>

        <div class="text-chaside">            
            <p>
                <a>-A: </a>
                (Artísticas)
            </p>
        </div>

        <br>
        
        <div class="text-chaside">            
            <p>
                <a>-S: </a>
                (Ciencias de la Salud y Medicina)
            </p>
        </div>

        <br>
        
        <div class="text-chaside">            
            <p>
                <a>-I: </a>
                (Enseñanzas Técnicas)
            </p>
        </div>

        <br>
        
        <div class="text-chaside">            
            <p>
                <a>-D: </a>
                (Defensa y Seguridad)
            </p>
        </div>

        <br>

        <div class="text-chaside">
            <p>
                <a>-E: </a>
                (Ciencias Agrarias y Naturales).
            </p>
        </div>
    </div>

</main>


