@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.contenedor{
    padding: 60px 0;  
    background-color: #E1E2E6;
}

.chaside-content{
    text-align: center;
}

.chaside-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.text-chaside p{
    text-align: justify;
    padding: 0 170px;
    font-size: 17px;
    line-height: 28px;
    color: #414247;
}

.text-chaside a{
    font-weight: bold;
}

.imagen{
    padding: 30px 0;
}

img{
    width: 600px;
    height: 400px;
}

.imagen-principal{
    width: 650px;
    height: 350px;
}

.pregunta{
    font-size: 30px;
    line-height: 70px;
    color: #414247;
    text-align: left;
    padding: 10px 170px;
}
