<section class="orientation">
    <div class="orientation-content container">
        <h2>Diferentes tipos de test</h2>
        <p class="txt-p">
            Existen diferentes tipos de test vocacionales que pueden ayudar a las personas a identificar sus intereses, habilidades y preferencias profesionales. 
            Algunos de estos tipos incluyen:
        </p>

        <div class="orientation-group">
            <div class="orientation-1">
                <img src="assets/img/home/test_1.jpg" alt="">
                <h3>Test de Personalidad</h3>
                <p>
                    Estos tests ayudan a identificar en qué carreras y roles una persona puede desenvolverse con 
                    facilidad, según sus características personales, como carácter, gustos y afinidades.
                </p>
            </div>

            <div class="orientation-1">
                <img src="assets/img/home/test_2.jpg" alt="">
                <h3>Test de Intereses</h3>
                <p>
                    Los test de intereses vocacionales son herramientas que permiten a las personas identificar 
                    las áreas en las que podrían desempeñarse mejor en el ámbito laboral
                </p>
            </div>

            <div class="orientation-1">
                <img src="assets/img/home/test_3.jpg" alt="">
                <h3>Test Aptitudinal</h3>
                <p>
                    Estos tests se centran en analizar o predecir los comportamientos del individuo en ciertos 
                    cargos específicos, examinando habilidades sociales importantes.
                </p>
            </div>
        </div>

        <a href="#" class="btn-1">Informacion</a>
    </div>
</section>