<section id="sesionInformacion" class="general">
    <div class="general-1">
        <h2>Test chaside</h2>
        <p>
            El test CHASIDE es una herramienta diseñada para ayudar
            a las personas a diferenciar decisiones basada en
            sus intereses, habilidades y preferencias. Se utiliza
            principalmente para orientación vocacional y profesional.
            El test tiene como objetivo proporcionar información sobre
            los intereses, habilidades y las posibilidades de adaptarlos
            a campos profesionales específicos basados en fortalezas y
            preferencias individuales.
        </p>
        <a href="#" [routerLink]="['/home/chaside']" class="btn-1">Informacion</a>
    </div>
    <div class="general-2"></div>
</section>

<section class="general">
    <div class="general-3"></div>
    <div class="general-1">
        <h2>Test holland</h2>
        <p>
            El test HOLLAND está diseñado para ayudar a las
            personas a descubrir qué trabajos se ajustarán a sus intereses,
            talentos y aptitudes. Utiliza el respetado sistema del Código Holland
            para proporcionar puntuaciones para 6 áreas principales de empleo y
            guiar la planificación de carreras. El test consta de una serie de
            preguntas relacionadas con los intereses y aptitudes de un individuo,
            con el objetivo de proporcionar una comprensión preliminar de las
            preferencias vocacionales y posibles trayectorias profesionales.
        </p>
        <a href="#" [routerLink]="['/home/holland']" class="btn-1">Informacion</a>
    </div>
</section>