.container {
    display: flex;
    flex-direction: column;
}

#card-header {
    padding-bottom: 0.5rem;
}

.mat-mdc-card-avatar {
    height: 20px;
    width: 30px;
}

.row {
    display: flex;
    flex-direction: row;

    .column {
        padding: 0.5rem;
        &:first-child {
                flex: 1; 
                max-width: 10rem; 
                color: #808080;
            }
        
        &:not(:first-child) {
            flex: 2; 
        }
    }
}

#button-container {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: flex-end;
}