.contenedor {
    display: flex;
    flex-direction: column;
}

.fila {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.item {
    width: 48%;
}

.icon-before-title {
    order: -1;
}