<footer id="footer" class="footer">
    <div class="container2 px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">            
            <img src="assets/img/home/firma_1.png" alt="">
            
        </a>
        <ul>
            <li>
                <h3 class="aplicativo">Orientation Vocational Web</h3>
            </li>
            <li>
                <span class="ml-3 text-xl">Copyright © 2024 Orientation Vocational — Geovanni Rojas — Luis Fernando Yepes — Manuel Felipe Hurtado</span>
            </li>
        </ul>
    </div>
</footer>
