<h2 mat-dialog-title>Test de Chaside</h2>
<mat-dialog-content class="mat-typography">
    <p>El Test de Chaside es una herramienta diseñada para ayudarte a explorar y descubrir posibles carreras de estudio que se
    alineen con tus intereses y habilidades. A continuación, se detallan las instrucciones para realizar el test:</p>
    
    <h3>Instrucciones</h3>
    <ol>
        <li>Este test consta de 98 preguntas que deben ser respondidas en su totalidad.</li>
        <li>A medida que vaya respondiendo, podrá ver su progreso en la parte inferior del cuestionario.</li>
        <li>Lea cada pregunta cuidadosamente y responda con sinceridad.</li>
        <li>No hay límite de tiempo para completar el test, tómese el tiempo necesario para responder con precisión.</li>
        <li>Seleccione la opción que mejor refleje su opinión o comportamiento.</li>
        <li>Evite dejar preguntas sin responder, ya que todas son importantes para obtener una evaluación completa.</li>
        <li>Mantenga un ambiente tranquilo y libre de distracciones mientras realiza el test.</li>
        <li>No hay respuestas correctas o incorrectas, simplemente responda según su propia experiencia y percepción.</li>
        <li>Recuerde que sus respuestas son confidenciales y serán utilizadas únicamente para fines de evaluación
            psicológica.</li>
    </ol>
    
    <p>Una vez que haya completado todas las preguntas del Test de Chaside, se habilitará el boton <strong>Enviar respuestas</strong>. Sus respuestas serán analizadas por la aplicación para proporcionarle recomendaciones personalizadas sobre carreras y
    universidades que podrían ser adecuadas para usted.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button id="enabled-button" [mat-dialog-close]="true" cdkFocusInitial>Continuar</button>
</mat-dialog-actions>
