<main class="contenedor">
    <div class="chaside-content">
        <h2>Orientacion Vocacional</h2>

        <div class="text-chaside">
            <p>
                La orientación vocacional es un proceso que tiene como objetivo ayudar a las personas, 
                especialmente a los jóvenes, a elegir una carrera profesional acorde a sus intereses, 
                habilidades, aptitudes y valores. Este proceso implica la realización de pruebas, 
                cuestionarios y asesoramiento para garantizar una elección adecuada. La orientación 
                vocacional busca proporcionar elementos que permitan a cada individuo tomar decisiones 
                informadas sobre su futuro profesional, teniendo en cuenta su desarrollo personal.
            </p>
        </div>

        <div class="imagen">
            <img class="imagen-principal" src="/assets/img/page test/informacion_page.png" alt="">
        </div>

        <p class="pregunta">
            Consejos para conocer tu orientación vocacional
        </p>

        <div class="text-chaside">            
            <p> 
                <a>Conocerte a Ti Mismo: </a>
                Darte un tiempo para conocerte, dudar, pensar y averiguar te ayuda a elegir una carrera 
                relacionada con tus intereses, habilidades y valores. Esto te permitirá tomar una decisión 
                basada en un proceso personal y una elección fundamentada en la seguridad de conocerte a ti 
                mismo y de conocer las carreras que existen.
            </p>
        </div>

        <br>

        <div class="text-chaside">            
            <p>
                <a>RUtilizar Herramientas de Orientación Vocacional: </a>
                Realiza test de orientación vocacional para conocerte mejor y elegir una carrera universitaria 
                acorde a tus intereses, habilidades y valores. Estas pruebas pueden servir como punto de partida 
                para tener una idea de tus áreas de preferencia a la hora de optar por una carrera.
            </p>
        </div>

        <br>

        <div class="text-chaside">            
            <p>
                <a>Explorar Opciones y Buscar Asesoramiento: </a>
                Explora opciones, busca asesoramiento y reflexiona sobre tus intereses. Además, considera tus 
                valores personales y busca profesionales que se dediquen a la orientación vocacional para obtener 
                una visión más clara de tus opciones.
            </p>
        </div>

        <br>
        
        <div class="text-chaside">            
            <p>
                <a>Evitar Decisiones Impulsivas: </a>
                Evita tomar decisiones influenciadas por opiniones externas, modas o expectativas de otros. Conocer 
                tus prioridades, intereses, hacer un plan de vida, y saber para qué eres bueno, tus habilidades y tu 
                carácter te ayudará a tomar decisiones más fundamentadas.
            </p>
        </div>

        <p class="pregunta">
            Test de Orientación Vocacional
        </p>

        <div class="text-chaside">            
            <p> 
                Un test de orientación vocacional es una herramienta útil para tener una primera aproximación a la 
                búsqueda vocacional. Estas pruebas constan de preguntas relacionadas con los intereses y aptitudes 
                de la persona, y pueden proporcionar una visión de las habilidades y pasiones propias, iluminando el 
                camino hacia una elección de carrera y estudio que se adapte a cada individuo. 
            </p>
        </div>
    </div>
</main>



