<mat-drawer-container>
    <mat-drawer #drawer mode="side" opened>
        <mat-nav-list>
            <mat-list-item>
                <button mat-button (click)="redirectTo('user')"><mat-icon>person</mat-icon>Perfil de usuario</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="redirectTo('chaside')"><mat-icon>extension</mat-icon>Chaside Test</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="redirectTo('icfes')"><mat-icon>upload_file</mat-icon>Saber 11</button>
            </mat-list-item>
            <mat-list-item>
                <button mat-button (click)="redirectTo('result')"><mat-icon>pie_chart</mat-icon>Resultados</button>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="main-container">
            <router-outlet />
        </div>
    </mat-drawer-content>
</mat-drawer-container>
