<div id="questions-container">
    <form [formGroup]="chasideTestForm" novalidate (ngSubmit)="sendAnswer()" id="form-container">
        @for (question of questions | paginate: { itemsPerPage: 10, currentPage: currentPage } ; track question) {
        <div>
            <div class="question-card">
                <mat-card>
                    <mat-card-content>
                        <div>
                            {{question.ordenPregunta}}. {{ question.descripcionPregunta }}
                        </div>
                        <div>
                            <mat-radio-group [formControlName]="'answer_' + question.ordenPregunta" id="answer_{{question.ordenPregunta}}" aria-label="Select an option" (change)="onRadioButtonChange($event, 'answer_' + question.ordenPregunta)">
                                <mat-radio-button value="si" for="si">Si</mat-radio-button>
                                <mat-radio-button value="no" for="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        } @empty {
            Empty list of questions
        }
        <div id="progress-bar-container">
            <mat-progress-bar 
                id="progresss-bar-custom" 
                mode="determinate"
                [value]="progressBarValue">
            </mat-progress-bar>
        </div>
        <div id="paginator-container">
            <pagination-controls 
                (pageChange)="onPageChange($event)" 
                previousLabel="anterior" 
                nextLabel="siguiente">
            </pagination-controls>
        </div>
        <div>
            <button mat-raised-button 
            class="enabled-button" 
            type="submit" 
            [disabled]="!chasideTestForm.valid" 
            [ngClass]="{
                'enabled-button': chasideTestForm.valid,
                'disabled-button': !chasideTestForm.valid
            }">Enviar respuestas</button>
        </div>
    </form>
</div>



